*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color:white;
    color:black;
}

strong{
    color: rgb(239, 64, 45);
}

button{
    padding: 20px 75px;
    border:5px solid white;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(223, 37, 16);
    color:white;
}
button:hover{
    opacity: 0.85;
}

button:active{
    transform: scale(0.95);
}
/* App.js */ 

.navbar{
    padding:25px;
    min-height: 5vh;
    background-color: black;
    color:white;
}


.navbar .list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color:white;
}

.navbar .list li{
    list-style-type: none;
    background-color: black;
    color:white;
}

.navbar .list li:nth-child(1){
    margin-right:10%;
} 

.navbar .list li a{
    text-decoration: none;
    font-size: 28px;
    transition: all 0.5s;
    background-color: black;
    color:white;
}

.navbar .list li a:hover{
    font-size: 32px;
    color:red;
}

.navbar .list li:nth-child(1){
    border:1px solid white;
    border-radius: 50%;
    padding: 10px;
    background-color:white;
}

/* App.js */ 

/*  Home.js*/
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    border-bottom: 1px solid black;

}

.home .hero{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    min-height: 100vh;
}

.home .book{
    display:grid;
    grid-template-columns:repeat(3,33%);
    width:100%;
    min-height: 50vh;
}

.home .book >div{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.25rem;
}

.home .book .book-inner .main{
    display: flex;
    flex-direction: column;

}
.home .book .book-inner1 .main{
    display: flex;
    flex-direction: column;
}
.home .book .book-inner2 .main{
    display: flex;
    flex-direction: column;
}

.home .book .book-inner .main .outer2{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width:100%;
    border: 1px solid black;
    padding: 10px 50px;
}

.home .book .book-inner .main .gap{
    margin: 5px;
}
.home .book .book-inner .main .gap .outer3 .outer4{
    background-color: rgb(121, 176, 176);
}

.home .book .book-inner .main .gap .outer3 .outer4:hover{
    background-color: rgb(113, 144, 144);
}


.home .book .book-inner1 .main .gap{
    margin: 5px;
}
.home .book .book-inner1 .main .gap .outer3 .outer4{
    background-color: rgb(121, 176, 176);
}

.home .book .book-inner1 .main .gap .outer3 .outer4:hover{
    background-color: rgb(113, 144, 144);
}

.home .book .book-inner2 .main .gap{
    margin: 5px;
}
.home .book .book-inner2 .main .gap .outer3 .outer4{
    background-color: rgb(121, 176, 176);
}

.home .book .book-inner2 .main .gap .outer3 .outer4:hover{
    background-color: rgb(113, 144, 144);
}

.home .book .book-inner1 .main .outer2{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width:100%;
    border: 1px solid black;
    padding: 10px 50px;
}

.home .book .book-inner2 .main .outer2{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width:100%;
    border: 1px solid black;
    padding: 10px 50px;

}
.home .book button{
    padding: 20px 75px;
    border:5px solid white;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(223, 37, 16);
    color:white;
}


.home .book input{
    padding: 10px 50px;
    background-color: rgb(244, 216, 59);
    color:black;
    font-size: 1.2rem;
}

.home .hero .hero-content{
    width:50%;
    padding: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home .hero .hero-content .plans h3{
    font-size: 2rem;
    font-weight: 300;
}
.home .hero .hero-content .plans h1{
    font-size: 4rem;
    font-weight:800;
}
.home .hero .hero-content .plans h5{
    font-size: 1.2rem;
    font-weight: lighter;
}
.home .hero .hero-content .plans button{
    padding: 20px 35px;
    margin-right:50px;
    margin-top:50px;
    border:5px solid white;
    border-radius: 10px;
    cursor: pointer;
}
.home .hero .hero-content .plans .btn1{
    background-color: rgb(223, 37, 16);
    color:white;
    font-size: 1.25rem;
}
.home .hero .hero-content .plans .btn2{
    background-color: black;
    color:white;
    font-size: 1.25rem;
}
.home .hero .hero-content .plans .strong{
    color: rgb(239, 64, 45);
}

.home .hero .hero-pic{
    width:70%;
    border-radius: 50px;
}

.home .hero .hero-pic img{
    object-fit: contain;
    width:100%;
    height: 100%;
    border-radius: 50px;
    opacity: 1;
    cursor: pointer;
}

.home .hero .hero-pic img:hover{
    opacity: 0.95;
}

.home .book h2{
    font-weight: 200;

}

/*  Home.js*/


/* Tips.js */

.home .tips{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.home .tips h3{
    font-size: 3rem;
}

.home .tips h1{
    font-size: 4rem;
    color: rgb(239, 64, 45);
}

.home .tips .tips3{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .tips .tips3 >div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    gap:30px;
}

.home .tips .tips3 div .blur{
    box-shadow: 2px 2px 25px orange;
}
.home .tips .tips3 div >p{
    font-size: 1.25rem;
}


/* Tips.js */

/* Home2.js */


.home .home2 .banner{
    background-color:black;
    padding: 50px;
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:25px;
}

.home .home2 .banner h1{
    color:white;
    font-size: 4rem;
    background-color: black;
}
.home .home2 .banner p{
    color:white;
    font-size: 2rem;
    background-color: black;
}

.home .home2 .banner strong{
    font-size: 2rem;
    background-color: black;
}

.home .bigpic{
    padding: 100px;
}

/* Home2.js */
/* Home3.js */
.home .home3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .home3 .left,.home .home3 .right{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:30px;
}
.home .home3 .left{
    width:60%;
}
.home .home3 .right{
    width:40%;
}

.home .home3 .left h3{
    font-size:3rem ;
}
.home .home3 .left h1{
    font-size: 4.3rem;
    font-weight:bolder;
}
.home .home3 .left p{
    font-size: 1.1rem;
    font-weight: lighter;
}

.home .home3 .right div >div{
    width:70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
/* Home3.js */

.home .home4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    background-color: goldenrod;
    color: white;

}
.home .home4 h2{
    font-size: 2rem;
    background-color: goldenrod;
    
}   
.home .home4 h1{
font-size: 3.5rem;
background-color: goldenrod;

}

.home .home4 p{
    font-size: 1.3rem;
    background-color: goldenrod;
    color: white;
}

.home .cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color:whitesmoke;
}

.home .cards >div{
    border:2px solid white;
    padding: 25px;
    width:50%;
    margin: 10px;
    box-shadow: 2px 2px 5px black,-2px -2px 5px black;

}
.home .cards >div img{
    width:100px;
    height:100px;
    border-radius: 50%;
}

.home .cards >div h1{
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    word-spacing: 10px;
}

.home .cards .card1 >div,.home .cards .card2 >div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px;
}

/*  about.js */

.about .upper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding: 75px;
}

.about .upper .upper-right{
    width:45%;
    display: flex;
    flex-direction: column;
    padding: 50px 25px;
    gap:5px;
    height: 500px;
}
.about .upper .upper-right p{
    font-size: 1.25rem;
}
.about .upper .upper-right .cars{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.about .middle{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding: 25px;
}
.about .middle h1{
    font-size: 2rem;
}
.about .middle .middle-part{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    gap:15px;
}

.about .middle .middle-part div{
    width:20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about .middle .middle-part div p{
    font-size: 1.1rem;
}
.about .banner{
    padding: 25px;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .banner h1{
    color: white;
    background-color: rgb(54, 51, 51);
    padding: 50px;
}

.about .footer{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    gap:25px;
}
.about .footer div{
    width:25%;
    min-height: 25vh;
}

.about .footer div{
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 25px;
    gap:20px;
}

.about .footer div h1{
    font-size: 2rem;
    font-weight: lighter;
}

.about .footer div h2{
    font-size: 1.2rem;
    font-weight: lighter;
}

.about .footer div input{
    height: 35px;
    width: 200px;
    border: 0.5px solid black;
}


/*  about.js */

/* Models.js*/

.models{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:25px;
    padding: 50px;
}

.models .car{
    border:0.25px solid black;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.models .car .header img{
    width:350px;
    height:250px;
}
.models .car .footer{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding: 25px;
    gap:50px;
}

.models .car .footer div h3{
    font-size: 1.5rem;
    font-weight: lighter;
}

.models .car .footer div p{
    font-size: 1.2rem;
    font-weight: lighter;
    color: rgb(104, 99, 99);
}


/* Models.js*/


/* Footer */

.foot .banner{
    padding: 25px;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot .banner h1{
    color: white;
    background-color: rgb(54, 51, 51);
    padding: 50px;
}

.footer{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    gap:25px;
}
.footer div{
    width:25%;
    min-height: 25vh;
}

.footer div{
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 25px;
    gap:20px;
}

.footer div .red{
    color:rgb(255, 0, 0);
}

.footer div .green{
    color:rgb(1, 215, 1);
}
.footer div h1{
    font-size: 2rem;
    font-weight: lighter;
}

.footer div h2{
    font-size: 1.2rem;
    font-weight: lighter;
}

.footer div input{
    height: 35px;
    width: 200px;
    border: 0.5px solid black;
    padding: 10px;
}

/* Footer */

/* test */
.test .upper{
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    justify-content: center;
    min-height: 75vh;
    gap:25px;
    background-color: rgb(253, 250, 245);
}

.test .upper h2{
    font-weight: lighter;
    font-size: 1.5rem;
}

.test .lower .home4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    background-color: rgb(217, 162, 23);
    color: white;

}
.test .lower .home4 h2{
    font-size: 2rem;
    background-color: goldenrod;
    
}   
.test .lower .home4 h1{
font-size: 3.5rem;
background-color: goldenrod;

}

.test .lower .home4 p{
    font-size: 1.3rem;
    background-color: goldenrod;
    color: white;
}

.test .lower .cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color:whitesmoke;
}

.test .lower .cards >div{
    border:2px solid white;
    padding: 25px;
    width:50%;
    margin: 10px;
    box-shadow: 2px 2px 5px black,-2px -2px 5px black;

}
.test .lower .cards >div img{
    width:100px;
    height:100px;
    border-radius: 50%;
}

.test .lower .cards >div h1{
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    word-spacing: 10px;
}

.test .lower .cards .card1 >div,.home .cards .card2 >div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px;
}
/* test */


/* team */

.models .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    min-height: 25vh;
    min-width: 25vw;
    box-shadow: 2px 2px 5px black ,-2px -2px 5px black;
}

/* team */

.contact{
    display:flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.contact h1{
    font-weight: lighter;
    padding: 25px;
}

